<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.dribbble.com/users/11704671/screenshots/19045014/media/2349f6eb631ca45cbd8c5b24ce381b32.jpg?resize=400x300&vertical=center" alt="Logo" style="width: 90px; height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="row w-100">
        <div class="col-6 text-right">
          <ul class="navbar-nav d-inline-flex justify-content-end">
            <li class="nav-item me-3">
              <a class="nav-link" href="#">Yogesh Furniture</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#our-products">Our Products</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Second Column for the Button -->
        <div class="col-6 d-flex justify-content-end align-items-center">
          <button type="button" class="btn btn-danger">Admin section</button>
        </div>
      </div>
    </div>
  </div>
</nav>
